@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@700&display=swap");

:root {
  --color-primary: #e5e5e5;
  --color-accent: #f53;
  --color-accent-hover: #ff401a;
  --color-dark: #262a2f;
  --color-grey: #8a8a8a;

  --transition: 0.25s;

  --br-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font-family: 'Roboto', sans-serif;*/

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--color-primary);
  background-color: var(--color-dark);
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1100px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding: 50px 0;
}
